<h1>Contact</h1>
<form id="contact-us-form" action="/contact-success.html">
    <input name="name" type="text" placeholder="Your name">
    <input name="email" type="email" placeholder="Your email">
    <input type="submit" value="Contact us">
</form>